{% extends 'blog/base.html' %}
{% block body %}
<div class="container">
    <h3 class="text-gray text-center my-5">About Page</h3>
    <p>
        Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap.
        Check out the examples below for how you can remix and restyle it to your liking.Using a series of utilities,
        you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below
        for how you can remix and restyle it to your liking.Using a series of utilities, you can create this jumbotron,
        just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and
        restyle it to your liking.Using a series of utilities, you can create this jumbotron, just like the one in
        previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
        liking.Using a series of utilities, you can create this jumbotron, just like the one in previous versions of
        Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.Using a series of
        utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the
        examples below for how you can remix and restyle it to your liking.Using a series of utilities, you can create
        this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you
        can remix and restyle it to your liking.Using a series of utilities, you can create this jumbotron, just like
        the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to
        your liking.Using a series of utilities, you can create this jumbotron, just like the one in previous versions
        of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.Using a series of
        utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the
        examples below for how you can remix and restyle it to your liking.Using a series of utilities, you can create
        this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you
        can remix and restyle it to your liking.Using a series of utilities, you can create this jumbotron, just like
        the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to
        your liking.
    </p>
</div>


{% endblock %}
