{% extends 'base.html' %}
{% block title %} About Us{% endblock %}
{% block about %}active{% endblock %}
{% load static %}
{% block css %}
<style>
</style>


{% endblock %}

{% block body %}

<div class="container mt-3 rounded w-100 h-100">
    <h1 class="text-danger text-center mt-2">About Us</h1>
    <div class="container">
        <h1 class="text-primary">Indian Wood Work </h1>
        <p>
            Indian Wood Work in mohali is one of the leading businesses in the Furniture Dealers. Also known for
            Furniture Dealers, Dining Table Dealers, Bed Dealers, Centre Table Dealers, Wall Unit Dealers and much more.

            Indian Wood Work in Mohali HO, Mohali has been in the business of retailing and distributing furniture.
            This dealer primarily stocks and retails furniture and interior décoration for homes and households. It also
            deals in office furnishings for commercial spaces and business establishments. In the business for years,
            this enterprise is one of the prominent points-of-sale in the city for buying fancy and stylish furniture
            pieces. It features a product range that is sync with the accepted trends and styles in interior décor and
            design. Being of high quality, trendy designs and available at affordable price points, the products have
            helped them gain a staggering base of customers over the course of time. For the local citizens of Mohali
            HO, this furniture retailer is a recognised name. It occupies a prominent location at ,Mauli Baiden, Mohali
            surrounded by shopping destinations and commercial complexes.
        </p>
        <p>
            Services offered by Indian Wood Work

            Indian Wood Work in Mohali HO has a vast catalogue of furniture pieces to cater to residences as well as
            office spaces. For decorating your home, you can select from a variety of elegantly crafted wooden almirahs,
            center tables, cottz beds, dining tables, diwan-cum-beds, foam diwans, sofa sets and dining tables. You can
            shop for a wide range of office furniture such as executive chairs. This establishment is also into
            designing, installing and support services for modular kitchens through kitchen-by-design service. On the
            premises is a team of sales staff that help you in shortlisting from their furniture range according to your
            needs and requirements.
        </p>
        <h6>Dicuss About this product Please Contact this no </h6>
        <h4 class="text-primary">Address</h4>
        <p class="text-danger">
            Mauli Baidwan, Mohali 140308 Sohana (Punjab)
        </p>
        <h6>Arif Mirza</h6>
        <p class="text-danger">Contact Number 8950727338</p>
        <p class="text-danger">WhatsApp Number 8950727338</p>
        <h6>Danish Mirza</h6>
        <p class="text-danger">Contact Number 6006215060</p>
        <p class="text-danger">WhatsApp Number 6006215060</p>
    </div>


</div>

{% endblock %}
{% block js %}{% endblock %}